html {
    margin: 0;
    height: 100%;
}

body {
    background-image: url("/images/loginbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    height: 100%;
    color: white;
    font-family: "gg sans Normal", sans-serif;
}
.circle{
    border-radius: 50%;
    background: rgb(181, 186, 193);
    display: flex;
}