<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar bg-light">
    <div class="container-fluid">
        <span class="navbar-brand">Discord Clone</span>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/signup">Sign Up</a>
            </li>
        </ul>

    </div>
</nav>
<script src="webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</body>
</html>